# NixOS
function add_menu_nixos2511 {
  isofile="$1"

  regexp \
    --set 1:isoname \
    --set 2:variant \
    --set 3:version \
    "^${isopath}/nixos/(nixos-([^-]+)-([0-9]+\.[0-9]+).*-([^-]+)-linux\.iso)\$" "${isofile}"
  menuentry "NixOS ${version} ${variant}" "${isofile}" "${isoname}" --class nixos { 
    set isofile=$2
    set isoname=$3
    use "${isoname}"
    loop $isofile
    change_root (loop)
    set iso_path=$isofile
    export iso_path
    configfile /EFI/BOOT/grub.cfg
    restore_root
  }
}

for_each_sorted add_menu_nixos2511 "$isopath"/nixos/nixos-*25.11*-linux.iso

menuentry "NixOS 26.05 Minimal v7376" {
  # 1. Define the path to the ISO on the USB stick
  set isofile="/isos/nixos/nixos-minimal-26.05.7376.fcb8fcd6bf2d-x86_64-linux.iso"

  # 2. Mount the ISO as a loop device
  loopback loop (${bootpart})$isofile

  # 3. Load the kernel from the loop device.
  linux (loop)/boot/nix/store/a493j0zfbm4gif5nj5jvivhlblvaq06q-linux-6.18.43/bzImage init=/nix/store/9qxmr93s07n4acjyd81rb7k5wnmwgl6w-nixos-system-nixos-26.05.7376.fcb8fcd6bf2d/init findiso=$isofile

  # 4. Load BOTH the original NixOS initrd from the loop device, AND our custom one from the physical USB
  initrd (loop)/boot/nix/store/jpnwwa7mdimypax8wwmzgh3b456vixzq-initrd-linux-6.18.43/initrd (${bootpart})/nixos-initrd
}
