# Bazzite
function add_menu {
  isofile="$1"

  regexp \
    --set 1:isoname \
    --set 2:title \
    "^${isopath}/bazzite/((.*)\\.iso)\$" "${isofile}"

  menuentry "${title}" "${isofile}" "${isoname}" --class bazzite {
    set isofile=$2
    set isoname=$3
    use "${isoname}"
    loop $isofile
    probe --set isolabel --label (loop)

    set linux_path=""
    set initrd_path=""

    if [ -d "(loop)/images/pxeboot" ]; then
      set linux_path="(loop)/images/pxeboot/vmlinuz"
      set initrd_path="(loop)/images/pxeboot/initrd.img"
    else
      for arch in "x86_64" "aarch64"; do
        if [ -d "(loop)/boot/${arch}" ]; then
          set linux_path="(loop)/boot/${arch}/loader/linux"
          set initrd_path="(loop)/boot/${arch}/loader/initrd"
          break
        fi
      done
    fi

    if [ -z "${linux_path}" ]; then
      echo "Could not find kernel in ${isofile}"
    else
      linux "${linux_path}" quiet rhgb root=live:CDLABEL=${isolabel} enforcing=0 rd.live.image iso-scan/filename=${isofile}
      initrd "${initrd_path}"
    fi
  }
}

for_each_sorted add_menu "$isopath"/bazzite/*.iso
