# Alpine
function add_menu {
  isofile="$1"

  regexp \
    --set 1:isoname \
    --set 2:variant \
    --set 3:version \
    "^${isopath}/alpine/(alpine-([^-]+)-([^-]+).*\.iso)\$" "${isofile}"
  menuentry "Alpine Linux ${version} ${variant}" "${isofile}" "${isoname}" --class alpine {
    set isofile=$2
    set isoname=$3
    use "${isoname}"
    loop $isofile
    linux (loop)/boot/vmlinuz-lts rdinit=/cibu-init isos_partlabel=ISOS iso_path=$isofile alpine_dev=/dev/loop0 rootfstype=iso9660 ro
    initrd (${bootpart})/cibu-initrd (loop)/boot/initramfs-lts
  }
}

for_each_sorted add_menu "$isopath"/alpine/alpine-*.iso
