# Parrot
function add_menu {
  isofile="$1"

  regexp \
    --set 1:isoname \
    --set 2:variant \
    --set 3:version \
    --set 4:arch \
    "^${isopath}/parrot/(Parrot-([^-]+)-([^_]+)_(.+)\.iso)\$" "${isofile}"
  menuentry "Parrot ${version} ${arch} ${variant}" "${isofile}" "${isoname}" --class parrot {
    set isofile=$2
    set isoname=$3
    use "${isoname}"
    loop $isofile
    linux (loop)/live/vmlinuz boot=live hostname=parrot findiso=${isofile} components noeject
    initrd (loop)/live/initrd.img
  }
}

for_each_sorted add_menu "$isopath"/parrot/Parrot-*.iso
